@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
}

#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
}

:root {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.1rem;

  color: rgba(255, 255, 255, 0.75);
  background-color: #27272a;
  background: linear-gradient(165deg, #3BD97A -50%, #18181b 40%, #18181b 60%, #D93B9A 200%);
  scroll-behavior: smooth;
}

h1 {
  color: #ffffff;
  font-size: 10rem;
  font-family: 'Outfit';
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

h2 {
  color: #ffffff;
  font-size: 1.8rem;
  text-align: center;
}

h3 {
  color: #ffffff;
  font-size: 1.6rem;
  opacity: 0.8;
}

a {
  fill: #ffffff;
  text-decoration: none;
  transition: color 0.1s ease-in, fill 0.1s ease-in;
}

a:hover {
  fill: #ffffff;
  transition: color 0.1s ease-in, fill 0.1s ease-in;
  opacity: 1;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  opacity: 0.6;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom middle;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom middle;
}

.text-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
}

.headerLink {
  font-size: 1.2rem;
}

.navAtTop {
  position: absolute;
  top: 598px;
  background-color: #18181B80;
  transition: background-color 0.25s;
}

.navMoving {
  transition: background-color 0.25s;
  background-color: #18181b60;
}


.scroll-fade-in {
  transition: opacity 0.5s ease-in, transform 0.5s ease-in-out;
  opacity: 1;
}

.scroll-fade-in-delay-250 {
  transition: opacity 0.5s ease-in, transform 0.5s ease-in-out;
  opacity: 1;
  transition-delay: 0.25s;
}

.scroll-fade-in-delay-500 {
  transition: opacity 0.5s ease-in, transform 0.5s ease-in-out;
  opacity: 1;
  transition-delay: 0.5s;
}

.scroll-fade-in-delay-750 {
  transition: opacity 0.5s ease-in, transform 0.5s ease-in-out;
  opacity: 1;
  transition-delay: 0.75s;
}

.scroll-fade-out {
  transition: opacity 0.5s ease-in, transform 0.5s ease-in-out;
  transform: translateY(5vh);
  opacity: 0;
}

.slide-left-in {
  transition: opacity 1s ease-in, transform 1s ease-in-out;
  opacity: 1;
}

.slide-left-out {
  transition: opacity 1s ease-in, transform 1s ease-in-out;
  transform: translateX(-15vh);
  opacity: 0;
}

.dark-bg {
  background-color: #0000003f;
  margin-top: 4rem;
  padding: 2rem;
  padding-bottom: 4rem;
  width: 100vw;
  margin-left: -1rem;
}

.project-box-shadow-on {
  box-shadow: -10px -10px 0px 0px #3BD97A, -20px -20px 0px 0px #D93B9A;
  transition: box-shadow 0.5s;
  transition-delay: 750ms;
}

.project-box-shadow-off {
  box-shadow: 0px 0px 0px 0px #3BD97A, 0px 0px 0px 0px #D93B9A;
  transition: box-shadow 0.5s;
}

img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul {
  list-style: circle;
  margin-left: 1rem;
}

p {
  font-size: 1.4rem;
  opacity: 0.6;
}

#home {
  background: rgb(59, 60, 59);
  background: linear-gradient(90deg, rgba(59, 60, 59, 1) 0%, rgba(54, 60, 58, 1) 50%);
}

.hide-bullet {
  list-style: none;
}

.pink-green-title {
  box-shadow: -2px -2px 0px 0px #3BD97A, 2px 2px 0px 0px #D93B9A;
  box-sizing: calc(100% - 20px);
  padding: 0.5rem;
  margin-bottom: 2rem;
  display: inline-block
}

@media (max-width: 1080px) {
  #nav-long {
    display: none;
  }
}

@media (min-width: 1080px) {
  #dropdown-nav {
    display: none;
    margin-left: 0px;
  }
}